In [13]:
from collections import abc

In [14]:
issubclass(tuple, abc.Sequence)

True

In [15]:
issubclass(list, abc.MutableSequence)

True

### List Comprehensions

In [16]:
# normal way to cosntruct a list of values inside de variable 
symbols = "$¢£¥€¤"
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

In [17]:
# using list comprehension
symbols = "$¢£¥€¤"
codes = [ord(symbol) for symbol in symbols]

codes

[36, 162, 163, 165, 8364, 164]

In [18]:
x = 'ABC'
codes = [ord(x) for x in x]
print(x)
print(codes)
codes = [last := ord(c) for c in x] 
print(last)
# print(c)

ABC
[65, 66, 67]
67

In [19]:
symbols = "$¢£¥€¤"
beyond_ascii = [ord(s) for s in symbols if ord(s)> 127]
print(beyond_ascii)
beyond_ascii = list(filter(lambda c: c>127, map(ord, symbols)))
print(beyond_ascii)

[162, 163, 165, 8364, 164]
[162, 163, 165, 8364, 164]

### Tuples as Records

In [20]:
lax_coodinates = (36.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [21]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### Tuple as immutable lists

In [22]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])
a == b

True

In [23]:
b[-1].append(99)
print(b)
a == b

(10, 'alpha', [1, 2, 99])

False

In [24]:
# criating a fixed value in truple with the hash
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

tf = (10, 'alpha', (1, 2))
tm = (10, 'alpha', [1, 2])
fixed(tf)

True

In [25]:
lax_condinates = (33.9425, -118.408056)
latitude, longitude = lax_condinates # unpaking
latitude

33.9425

In [26]:
divmod(20, 8)

(2, 4)

In [27]:
t = (20, 8)
divmod(*t)

(2, 4)

In [28]:
quotient, remainder = divmod(*t)
quotient

2

In [29]:
a, b, *rest = range(5)
a,b, rest

(0, 1, [2, 3, 4])

In [30]:
a, *body, b = range(5)
a, body, b

(0, [1, 2, 3], 4)

In [31]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest

fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [37]:
metro_areas = [
    ('Tokyo', 'JP', 36.993, (35.689722, 139.691667)),
    ('DELHI', 'IN', 21.935, (28.613722, 77.208867)),
    ('MEXICO CITY', 'MX', 20.124, (19.433722, -99.133667)),
    ('NEW YORK XITY', 'US', 20.104, (40.808722, -74.020667)),
    ('SAO PAULO', 'SP', 19.649, (-23.547722, -46.635667))
]

def main():
    print(f'{"":15} | {"latitude": >9} | {"longitude": >9}')
    for name, _, _, (lat, lon) in metro_areas:
        if lon <= 0:
            print(f'{name:15} | {lat: 9.4f} | {lon: 9.4f}')


if __name__ == '__main__':
    main()

                |  latitude | longitude
MEXICO CITY     |   19.4337 |  -99.1337
NEW YORK XITY   |   40.8087 |  -74.0207
SAO PAULO       |  -23.5477 |  -46.6357

### pattern matching with sequences